<!DOCTYPE html>
<html>
<head>
    <link href="styles.css" rel="stylesheet"/>
    <script src="./chat.js" type="module"></script>
    <meta charset="UTF-8">
</head>
<body>
<div class="container" id="app" userId="">
    <ui-split>
        <group-feed>
            <!--    <p>-->
            <!--        <name :actor="$gf.me" :editable="true"></name>-->
            <!--    </p>-->
            <group-header>
                <profile :actor="$gf.me" :editable="true"></profile>
                <p v-if="!$gf.me">
                    <button @click="$gf.toggleLogIn" class="login-btn">
                        {{ $gf.me? 'Log Out' : 'Log In' }}
                    </button>


                </p>
                <search-bar @search="addGroup" v-else>
                    <label for="channel">
                        <input @keyup.enter="addGroup" id="channel" placeholder="Search for a new group:"
                               v-model="channel"/>
                    </label>
                    <button @click="addGroup" class="createChannelButton" class="create-channel-btn">+</button>
                </search-bar>
            </group-header>
            <!--                make a line here-->
            <div class="horizontal-line"></div>
            <group-column>
                <div :class="group.content === channel ? 'group-item group-item-selected' : 'group-item'" :group="group" :key="group.id"
                     @click="selectGroup(group)"
                     v-for="group in groups">
                    {{group.content}}
                    <button @click="removeGroup(group)" class="message-control">🗑️</button>
                </div>
            </group-column>


        </group-feed>

        <message-feed>
            <template v-if="$gf.me">
                <groups userId="$gf.me">

                </groups>


                <!-- If we're not logged in, hide everything except the login button -->


                <!--        <user-tags :userid="$gf.me"></user-tags>-->
                <div class="message-ui">
                    <div class="messages-header">
                        {{ channel }}
                        <div class="channel-buttons">
                            <!--                            open pinned messages-->
                            <div class="channel-buttons">
                                <button @click="togglePinnedMessages" class="message-control">📌</button>
                                <button @click="toggleTaggedMessages" class="message-control">🏷️</button>

                            </div>
                        </div>
                    </div>
                    <div class="messages-container">

                        <ul>
                            <!-- List all the messages -->
                            <transition-group name="fade" v-if="channel !== ''">
                                <li :class="{'other-message': message.actor!=$gf.me, 'my-message': message.actor==$gf.me}"
                                    :key="message.id"
                                    v-for="message of messages.slice().reverse()">

                                    <div class="message-line">

                                        <div class="message-wrapper">
                                            <div :class="{'sender-me': message.actor==$gf.me, 'sender-other': message.actor!=$gf.me}"
                                                 class="message-sender">
                                                <name :actor="message.actor"></name>

                                            </div>
                                            <div class="message-bubble message-other replyView"
                                                 v-if="messagesMap[message.replyTo]">
                                                <name :actor="messagesMap[message.replyTo].actor"
                                                      class="message-sender"></name>
                                                <div class="message-reply-content">{{
                                                    messagesMap[message.replyTo].content
                                                    }}
                                                </div>
                                            </div>
                                            <div class="attachment-message-wrapper">
                                                <div class="horizontal-message-block">
                                                    <div :class="{'message-me': message.actor==$gf.me, 'message-other': message.actor!=$gf.me}"
                                                         class="message-bubble">
                                                        <!-- Display and edit form if we're editing a message -->
                                                        <form @submit.prevent="saveEditMessage(message)"
                                                              v-if="editID==message.id">
                                                            <input v-model="editText">
                                                            <input type="submit" value="Save"/>
                                                        </form>


                                                        <!-- Otherwise, display a bunch of properties from the message -->
                                                        <ul v-else>
                                                            <li>
                                                                {{ message.content }}
                                                            </li>
                                                            <!--            <li>-->
                                                            <!--              From Actor ID: {{ message.actor }}-->
                                                            <!--            </li>-->
                                                            <!--            <template v-if="privateMessaging">-->
                                                            <!--              <li>-->
                                                            <!--                To Name: <name :actor="message.bto[0]"></name>-->
                                                            <!--              </li>-->
                                                            <!--              <li>-->
                                                            <!--                To Actor ID: {{ message.bto[0] }}-->
                                                            <!--              </li>-->
                                                            <!--            </template>-->
                                                            <!--            <li>-->
                                                            <!--              Published at Time: {{ message.published }}-->
                                                            <!--            </li>-->
                                                            <!--            <li>-->
                                                            <!--              Last Edited at Time: {{ message.updated }}-->
                                                            <!--            </li>-->
                                                            <!--            <li>-->
                                                            <!--              &lt;!&ndash; This is a unique identifier that can be used to "link" to messages &ndash;&gt;-->
                                                            <!--              ID: {{ message.id }}-->
                                                            <!--            </li>-->

                                                            <!-- Only add these controls if the message is ours -->
                                                            <!-- You can't edit or delete other people's messages -->

                                                        </ul>
                                                    </div>

                                                    <div :class="{'message-me': message.actor==$gf.me, 'message-other': message.actor!=$gf.me}"
                                                         class="message-bubble"
                                                         v-if="message.attachment">
                                                        <div class="attachment-div">
                                                            <div v-if="downloadedImages[message.attachment.magnet]">
                                                                <a :href="downloadedImages[message.attachment.magnet]"
                                                                   download>
                                                                    <img :src="downloadedImages[message.attachment.magnet]"/>
                                                                </a>
                                                            </div>
                                                            <div v-else>
                                                                <!--                                            loading circle -->
                                                                <div class="loader"></div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div v-if="message.actor!=$gf.me">
                                                        <div class="message-controls">
                                                            <button @click="replyToMessage(message)"
                                                                    class="message-control">↩️
                                                            </button>
                                                            <like :messageid="message.id"></like>
                                                            <pin :channelid="channel" :messageid="message.id"></pin>
                                                            <tag-message :channelid="channel"
                                                                         :messageid="message.id"
                                                                         :userid="$gf.me"
                                                                        :messagestring="message.content"
                                                            ></tag-message>
                                                        </div>
                                                    </div>

                                                    <div class="message-controls" v-if="message.actor==$gf.me">
                                                        <button @click="startEditMessage(message)"
                                                                class="message-control">✏️
                                                        </button>
                                                        <button @click="removeMessage(message)" class="message-control">
                                                            🗑️
                                                        </button>
                                                        <pin :channelid="channel" :messageid="message.id"></pin>
                                                        <tag-message :channelid="channel"
                                                                     :messageid="message.id"
                                                                     :userid="$gf.me"
                                                                     :messagestring="message.content"
                                                        ></tag-message>
                                                    </div>
                                                </div>

                                            </div>
                                            <profile :actor="message.actor" :editable="false"
                                                     class="message-profile"></profile>
                                            <div class="read-receipt">
                                                <read-receipt :messageid="message.id">
                                                </read-receipt>
                                            </div>

                                        </div>


                                    </div>
                                </li>
                            </transition-group>
                            <div class="no-channel-selected" v-else>
                                No channel selected -- select a channel to start chatting!

                            </div>
                        </ul>

                    </div>
                    <div class="replyUI" v-if="replyTo">
                        <div class="replySend">
                             <span>
                            Replying to: <name :actor="messagesMap[replyTo].actor" class="message-sender"></name>
                                 <!--            have the replyTo message content here-->
                        </span>
                            <div class="message-bubble message-other replyView">
                                {{messagesMap[replyTo].content}}
                            </div>
                        </div>
                        <button @click="removeReplyTo" class="message-control deleteReply">🗑</button>

                    </div>
                    <form @submit.prevent="sendMessage" class="message-form">
                        <label class="file-label" for="fileInput">
                            <img src="./icons/picture.svg"/>
                            <input @change="handleFileUpload" accept="image/*" id="fileInput" ref="fileInput"
                                   style="display: none" type="file"/>
                        </label>
                        <input @keyup.enter="sendMessage" id="myInput" placeholder="Type a message..." type="text"
                               v-model="messageText"/>
                    </form>
                </div>


                <!--                <pin-search :channelid="channel">-->

                <!--                </pin-search>-->

            </template>
        </message-feed>
        <!-- A form for sending messages -->
        <div class="pinned-messages" v-if="showPinned">
            <pin-search :channelId="channel"></pin-search>
        </div>
        <div class="vertical-line" v-if="showPinned && showTagged"></div>
        <div class="tagged-messages" v-if="showTagged">
            <user-tags :userid="$gf.me"></user-tags>
        </div>


    </ui-split>
</div>

<template id="name">
    <span v-if="!editing">

      <!-- If we're not editing the name-->
        <!-- Display the profile's name, if it exists -->
        <!-- or anonymous if it doesn't -->
      {{ profile? profile.name : 'Anonymous' }}

        <!-- Also if the name is "editable" add an edit button -->
      <button @click="editName" v-if="editable">
        Edit Name
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form @submit.prevent="saveName" v-else>
        <input v-model="editText"/>
        <input type="submit" value="Save Name"/>
    </form>
</template>

<template id="like">

    <div class="likes-count" v-if="likes.length!==0">
        {{ likes.length }} Like<span v-if="likes.length>1">s</span>
    </div>
    <div>
        <button @click="toggleLike" class="like-button" tabindex="0">
            <span v-if="!liked">👍 Like </span>
            <span v-else>🫴 Unlike</span>
        </button>
    </div>
</template>

<template id="pin">
    <div class="pin">
        <button @click="togglePin" class="pin-button" tabindex="0">
            <span v-if="!pinned">Pin</span>
            <span v-else-if="ownPin">🗑️ Unpin</span>
            <span v-else>📌 Pinned</span>
        </button>
    </div>
</template>

<template id="pin-search">
    <h2>
        Pinned Messages
    </h2>
    <div class="horizontal-line"></div>
    <div class="pin-scroll">
    <li :key="message.id" v-for="message of pinnedMessages">
        <div class="message-bubble message-other">

            {{message.content}}

        </div>
    </li>
    </div>
</template>

<template id="read-receipt">
    <span v-if="readReceipts.length!==0">
        <span v-if="readReceipts.length==1">
            1 person has read this message
        </span>
        <span v-else>
            {{ readReceipts.length-1 }} people have read this message
        </span>
    </span>
</template>

<template id="profile">
    <div @click="editProfile" v-if="editable">
        <img :src="profilePictureUrl" class="profile-picture" v-if="profilePictureUrl"/>
        <img class="profile-picture" src="./icons/blank_pic.png" v-else/>
    </div>
    <img :src="profilePictureUrl ? profilePictureUrl: './icons/blank_pic.png'" class="profile-picture-no-edit" v-else/>
    <div class="modal-overlay" v-if="editing && editable">
        <div class="edit-modal">
            <form @submit.prevent="saveProfile" class="profile-form">
                <div class="form-row">
                    <label for="username">Username:</label>
                    <name :actor="$gf.me" :editable="false" id="username"></name>
                </div>
                <div class="form-row">
                    <div>
                        <img :src="profilePictureUrl" class="profile-picture" v-if="profilePictureUrl"/>
                        <img class="profile-picture" src="./icons/blank_pic.png" v-else/>
                        <input @change="handleFileUpload" accept="image/*" id="picture" ref="fileInput" type="file"/>
                    </div>
                </div>
                <div class="form-row">
                    <button @click="$gf.toggleLogIn" class="login-btn">
                        {{ $gf.me && 'Log Out' }}
                    </button>
                </div>
                <div class="form-row">
                    <input type="submit" value="Save Profile"/>
                </div>
            </form>
        </div>
    </div>
</template>


<!--<template id="profile">-->
<!--    <span v-if="!editing">-->
<!--        <img :src="profilePictureUrl" class="profile-picture" v-if="profilePictureUrl"/>-->
<!--        <img class="profile-picture" src="./icons/blank_pic.png" v-else/>-->
<!--        &lt;!&ndash;        <button @click="editProfilePicture" v-if="editable">&ndash;&gt;-->
<!--        &lt;!&ndash;            Set Profile Picture&ndash;&gt;-->
<!--        &lt;!&ndash;            {{profilePictureUrl}}&ndash;&gt;-->
<!--        &lt;!&ndash;        </button>&ndash;&gt;-->
<!--    </span>-->
<!--    &lt;!&ndash;    <form @submit.prevent="saveProfilePicture" v-else>&ndash;&gt;-->
<!--    &lt;!&ndash;        <input @change="handleFileUpload" accept="image/*" ref="fileInput" type="file"/>&ndash;&gt;-->
<!--    &lt;!&ndash;        <input type="submit" value="Save Profile Picture"/>&ndash;&gt;-->
<!--    &lt;!&ndash;    </form>&ndash;&gt;-->
<!--</template>-->

<!--<template id="tagMessage">-->
<!--    <div class="tagMessage">-->
<!--        <button @click="toggleTag()-->
<!--        </button>-->
<!--    </div>-->
<!--</template>-->

<template id="user-tags">

    <h2>
        Tagged Messages
    </h2>
    <div class="horizontal-line"></div>
    <div class="user-tags">
        <ul>
            <li :key="tag.id" v-for="tag in tags">
                <div :class="tagSelected(tag.tag) ? 'selected-tag tag' : 'tag'" @click="selectTag(tag.tag)">
                    {{ tag.tag }}
                </div>
                <button @click="removeTag(tag.tag)">Remove</button>
            </li>
        </ul>
    </div>
    <div class="add-tag">
        <input onEnter="addTag" placeholder="Enter new tag" type="text" v-model="newTag"/>
        <button @click="addTag">Add Tag</button>
    </div>
    <div class="show-tagged-messages" v-if="selectedTags.length > 0">
        <div class="horizontal-line"></div>
        <div class="messages-tagged">
            <div class="message-bubble message-other" v-for="message in taggedMessages">
                {{message}}
            </div>

        </div>
    </div>

</template>

<template id="tag-message">
    <div class="messageTag">
        <div class="popup" v-if="tagMenu">
            <ul>
                <li :key="tag" v-for="tag in tagNames">
                    <input :id="tag" :value="tag" type="checkbox" :checked="selectedTags.includes(tag)" @change="toggleTag(tag)">
                    <label :for="tag">{{ tag }}</label>
                </li>
            </ul>
        </div>
        <button @click="toggleTagMenu()">
            <span v-if="!tagMenu">Show Tags</span>
            <span v-else>Hide Tags</span>
        </button>
    </div>
</template>


<template id="groups">

</template>


</body>
</html>
